/* Styles */
/* ------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap');

body {
    background-color: white;
    font-family: 'Orbitron', sans-serif;
    color: black;
}

/* ------------------------------------------------------- */
/* Text */
/* ------------------------------------------------------- */

h1, h2, h3, h4 , h5, h6{
    font-weight: 800;
}

p {
    font-weight: 400;
}

.text-small {
    font-size: 12px;
}

/* ------------------------------------------------------- */
/* Buttons */
/* ------------------------------------------------------- */

button {
    border: 1px solid #FFCE42;
    padding: 8px;
    background-color: transparent;
    color: black;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #FFCE42;
    color: white;
}

button:active {
    opacity: 0.8;
}

button:disabled {
    opacity: 0.6;
    border: 1px solid #FFCE42;
}

.ghost-button {
    border: none;
    padding: 8px;
    background-color: transparent;
    color: black;
    transition: all 0.2s ease;
}

.ghost-button.selected {
    background-color: #FFCE42;
    color:white;
}

/* ------------------------------------------------------- */
/* Inputs */
/* ------------------------------------------------------- */

input {
    border: 1px solid black;
    padding: 8px;
    background-color: transparent;
    color: black;
    transition: all 0.2s ease;
    outline: none;
    width: 100%;
}

select {
    width: 100%;
    height: 44px;
    background-color: transparent;
    color: black;
}

/* ------------------------------------------------------- */
/* Surfaces, Cards and Containers */
/* ------------------------------------------------------- */

.full-height {
    min-height: 100vh;
}

.top-row {
    padding-top: 50px;
    margin-bottom: 12px;
    border-bottom: 3px solid #f4f4f4;
}

.center-row-column {
    background-color: #f4f4f4;
    padding: 40px;
    margin: 10px;
    border-radius: 30px;

    box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.1);
}

.bottom-row {
    background-color: #f4f4f4;
    padding: 20px;
}

.button-row {
    padding: 0;
    border: 1px solid black;
}

.video-block {
    border: 1px solid #FFCE42;
    height: 60vh;
}

/* ------------------------------------------------------- */
/* Table */
/* ------------------------------------------------------- */

table tr:first-child td {
    color: #FFCE42;
    font-weight: bold;
}

/* ------------------------------------------------------- */
/* Images */
/* ------------------------------------------------------- */

.cameraImage {
    transition: all 0.3s ease-in-out;
    text-align: center;
    width: 100%;
    height: 36px;
}

.video-static {
    background-image: url(./images/static.gif);
    opacity: 0.2;
}

.video-static p {
    position: relative;
    color: black;  
    font-size: 1.6rem;
    line-height: 0.9;
    text-align: center;
    margin-top: 30vh;
}


/* ------------------------------------------------------- */
/* Time Bar */
/* ------------------------------------------------------- */

.meter { 
    height: 6px;
    position: relative;
    background: #f4f4f4;
    overflow: hidden;
}

.meter span {
    display: block;
    height: 100%;
}

.timerBar {
    background-color: #FFCE42;
}